### Import libraries

In [2]:
import pandas as pd
import numpy as np
import string as st
import os

In [3]:
from sklearn.preprocessing import LabelEncoder
import re

In [44]:
CSV_file = 'Dataset-for-ML-Model.csv'
frame = pd.read_csv(CSV_file, encoding='ISO-8859-1')

In [45]:
frame.head()

,Unnamed: 0,index,employer,job title,base salary,location,submit date,start date,case status,year,month,submit year,submit month
0,0,0,FORTUNE LAND LLC,ACCOUNTANTS AND AUDITORS,48500,NEWARK DE,2016-03-10,2016-09-09,CERTIFIED,2016,3,2016,3
1,1,1,FORTUNE LAND LLC,ACCOUNTANTS AND AUDITORS,48500,NEWARK DE,2015-03-12,2015-09-05,CERTIFIED,2015,3,2015,3
2,2,2,VALLES VENDIOLA LLP,ACCOUNTANTS AND AUDITORS,52640,ELMHURST NY,2015-03-06,2015-09-01,CERTIFIED,2015,3,2015,3
3,3,3,BHATIA & CO INC CPAS,ACCOUNTANTS AND AUDITORS,52800,SANTA CLARA CA,2014-03-22,2014-09-20,CERTIFIED,2014,3,2014,3
4,4,4,GATEWAY COUNSELING CENTER INC,ACCOUNTANTS AND AUDITORS,54280,BRONX NY,2018-04-23,2018-05-31,CERTIFIED,2018,4,2018,4

In [46]:
# Note: this function requires a cleaned up 'location' column with no NaN or empty strings
def get_city_state(df):
    df["state"] = df["location"].str.split().str[-1]
    df["location"].apply(lambda x: "".join(x.split()[1:]))
    df["location"] = df["location"].apply(lambda x: x.split(" "))
    df["city"] = df["location"].str[:-1].apply(lambda x: " ".join(x))
    
    df = df[['employer', 'job title', 'base salary', 'submit date',
       'start date', 'case status', 'submit year', 'submit month', 'state', 'city']]
    
    return df

In [47]:
frame = get_city_state(frame)

In [48]:
frame.head()

,employer,job title,base salary,submit date,start date,case status,submit year,submit month,state,city
0,FORTUNE LAND LLC,ACCOUNTANTS AND AUDITORS,48500,2016-03-10,2016-09-09,CERTIFIED,2016,3,DE,NEWARK
1,FORTUNE LAND LLC,ACCOUNTANTS AND AUDITORS,48500,2015-03-12,2015-09-05,CERTIFIED,2015,3,DE,NEWARK
2,VALLES VENDIOLA LLP,ACCOUNTANTS AND AUDITORS,52640,2015-03-06,2015-09-01,CERTIFIED,2015,3,NY,ELMHURST
3,BHATIA & CO INC CPAS,ACCOUNTANTS AND AUDITORS,52800,2014-03-22,2014-09-20,CERTIFIED,2014,3,CA,SANTA CLARA
4,GATEWAY COUNSELING CENTER INC,ACCOUNTANTS AND AUDITORS,54280,2018-04-23,2018-05-31,CERTIFIED,2018,4,NY,BRONX

In [7]:
X = frame[['employer', 'job title','case status', 'submit year',
           'submit month', 'state', 'city']]
y = np.log1p(frame[['base salary']].values)

### Label Encoding
Multiple label enconding per:
https://stackoverflow.com/questions/24458645/label-encoding-across-multiple-columns-in-scikit-learn/47100771#47100771

Note: investigate later how to save the default dict to a JSON file so I can 1) load it back later if loading the model (pickle) elsewhere.

In [8]:
from collections import defaultdict

In [9]:
d = defaultdict(LabelEncoder)
cols_to_transf = ['employer','job title','state','city','case status']

In [10]:
def fit_and_transform(df,cols_to_transf):
    df_transf = df[cols_to_transf]
    df_non_transf = df.drop(cols_to_transf, axis = 1)
    
    fit = df_transf.apply(lambda x: d[x.name].fit_transform(x))
    
    df = pd.concat([fit, df_non_transf], axis=1, join='outer')
    return df

In [11]:
def inverse_encoding(df,encoded_cols):
    df_inverse = df[encoded_cols]
    df_non_inv = df.drop(encoded_cols, axis = 1)
    
    df_inverse = df_inverse.apply(lambda x: d[x.name].inverse_transform(x))
    df = pd.concat([df_inverse, df_non_inv], axis=1, join='outer')
    
    return df

In [12]:
def encode_future_data(df,cols_to_transf):
    df_transf = df[cols_to_transf]
    df_non_transf = df.drop(cols_to_transf, axis = 1)
    
    fit = df_transf.apply(lambda x: d[x.name].transform(x))
    
    df = pd.concat([fit, df_non_transf], axis=1, join='outer')
    return df

In [13]:
X = fit_and_transform(X, cols_to_transf)

In [14]:
for key in d.keys():
    filename = '{}.npy'.format(key)
    filename = filename.replace(' ','_')
    np.save(filename, d[key].classes_)

In [15]:
print(d.keys())

dict_keys(['employer', 'job title', 'state', 'city', 'case status'])

In [16]:
filenames = []
for key in d.keys():
    filenames.append('{}.npy'.format(key).replace(' ','_'))

In [17]:
filenames

['employer.npy', 'job_title.npy', 'state.npy', 'city.npy', 'case_status.npy']

In [18]:
X.columns

Index(['employer', 'job title', 'state', 'city', 'case status', 'submit year',
       'submit month'],
      dtype='object')

In [19]:
#print(len(frame['employer'].unique()))
#print(len(frame['location'].unique()))
#print(len(frame['city'].unique()))
#print(len(frame['job title'].unique()))

### Clean up location, employer, and job title lists
Export these to files in one of the webapp's subdirs to be used to populate the form item for user selection.

In [20]:
frame['location'] = frame['city']+ ', '  + frame['state']

In [21]:
unique_locations = sorted(set(frame['location']))

In [22]:
def remove_duplicate_state_abbr(location_list):
    for location in location_list:
        if re.match('[\w]+',location[0]):
            duplicate_chk = re.findall('[\w]+',location[0])
            for item in duplicate_chk:
                if item == location[1].strip():
                    try:
                        location[0] = location[0].replace(item,'')
                    except TypeError:
                        continue
    return location_list

In [23]:
# Note: this is a running list of errors I've found while exploring the locations
wrongly_mispelled_locations = ['IIRVING, TX', 'LLITTLE ROCK, AR', 'OOLTEWAH, TN',
                               'SSSSSSSSSSSSSSSSSSSSSSSSSSSSSS, AZ', 'WWODBRIDGE, NJ']

In [24]:
def cleanup_locations(location_list):
    location_list = [''.join(c for c in string if not c.isdigit()) for string in location_list]
    location_list = [location.replace('#','') for location in location_list]
    location_list = [location.replace('MSA','') for location in location_list]
    location_list = [location.replace('DIV','') for location in location_list]
    location_list = [location.replace('&NBSP','') for location in location_list]
    location_list = [location.replace(';','') for location in location_list]
    location_list = [location.replace(':','') for location in location_list]
    location_list = [location.strip() for location in location_list]
    location_list = [location.split(',') for location in location_list]
    location_list = [location for location in location_list if location not in wrongly_mispelled_locations]
    location_list = remove_duplicate_state_abbr(location_list)
    location_list = [location for location in location_list if len(location[0]) > 0]
    location_list = [[re.sub(' +', ' ', location[0]), location[1]] for location in location_list]
    location_list = sorted(location_list, key=lambda x: x[1])
    location_list = [','.join(item) for item in location_list]
    location_list = sorted(set(location_list), key=location_list.index)
    return location_list

In [25]:
unique_locations = cleanup_locations(unique_locations)

In [56]:
unique_locations = [','.join([loc.split(',')[0].title(),loc.split(',')[1]]) for loc in unique_locations]

In [59]:
unique_locations[1500:1510]

['Sunnuvale, CA',
 'Sunnvale, CA',
 'Sunnvyale, CA',
 'Sunny Vale, CA',
 'Sunnyale, CA',
 'Sunnycale, CA',
 'Sunnydale, CA',
 'Sunnytvale, CA',
 'Sunnyval, CA',
 'Sunnyvala, CA']

In [60]:
unique_employers = sorted(set(frame['employer']))
unique_employers = [emp.title() for emp in unique_employers]

In [61]:
unique_job_titles = sorted(set(frame['job title']))
unique_job_titles = [job.title() for job in unique_job_titles]

In [62]:
with open('locations-list.txt', 'w') as f:
    for item in unique_locations:
        f.write('%s\n' % item)

In [63]:
with open('employers-list.txt', 'w') as f:
    for item in unique_employers:
        f.write('%s\n' % item)

In [64]:
with open('job-titles-list.txt', 'w') as f:
    for item in unique_job_titles:
        f.write('%s\n' % item)